@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* shared style  */

.display-flex{
    display: flex;
}
body{
    font-family: "Quicksand", serif;
}
/* Navbar style  */
.marquee{
    background-color:rgb(235, 188, 101);
    color: #000000;
    padding: 5px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(241, 221, 183);
    margin: 0;
    padding: 0;
}
.menu a:first-child img {
    height: 40px; 
    width: auto;
}
.menu a:last-child img {
    height: 30px; 
    width: auto;
    cursor: pointer;
}
.menu a img:hover {
    opacity: 0.8;
}
.school{
    text-justify: center;
}
.nav-container{
    justify-content: space-between;
    align-items: center;
    padding: 10px 140px;
}
.nav-links .list {
    display: inline-block;
    margin: 0 20px;
}
.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.list{
    list-style: none;
}

.nav-links{
   
    align-items: center;
    gap: 20px;
}
.nav-link{
    text-align: center;
    gap: 10px;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 600;
}
#home{
    color: orange;
}
#about{
    color: skyblue;
}
#facilities{
    color: rgba(5, 212, 223, 1);
}
#Admission{
    color: rgba(93, 88, 239, 1);
}
.btn{
    background-color: orange;
    border-radius: 10px;
    width: 137px;
    height: 40px;
    border: 0;
    color: white;
}
.btn-3{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 137px;
    height: 40px;
    border: 0;
    color: white;
    margin: 5% 5% 5% 45%;
    
}






/* Banner style  */





.banner-container{
    margin: 10px auto;
    width: 1158px;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
}
.banner-content{
    font-size: 18px;
    margin-bottom: 20px;
    gap: 10px;
}
.banner-img img {
    width: 100%;
    max-width: 500px;
}
.btn-2{
    color: white;
    background-color: #000000;
    border-radius: 12px;
    width: 197px;
    height: 40px;
}
#em{
    color: orange;
}
#tow{
    color: skyblue;
}





/* Standard Curriculum */








.standard-items-1{
    border-radius: 15px;
    border: 0.5px solid rgb(219, 241, 250);
    width: 368px;
    height: 476px;
    background-image: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 0.664));
    margin: 8px;
    text-align: center;
    padding: 20px;
    gap: 20px;
}
.standard-items-2{
    width: 368px;
    height: 476px;
    border-radius: 15px;
    border: 1px solid rgb(240, 225, 198);
    background-image: linear-gradient(rgba(255, 244, 220, 1), rgb(255, 255, 255));
    margin: 8px;
    text-align: center;
    padding: 20px;
  
}
.standard-items-3{
    width: 368px;
    height: 476px;
    border-radius: 15px;
    border: 1px solid #dabdf3;
    background-image: linear-gradient(rgba(242, 232, 255, 1), rgba(255, 255, 255, 0.979));
    margin: 8px;
    text-align: center;
    padding: 20px;
   
}

.satandard{
    width: 1440px;
    margin: 10px auto;
}
.Our{
    width: 1440px;
    margin: 10px auto;
    padding: 0 auto;
}
.stan{
    text-align: center;
    font-weight: 900;
    padding: 50px;
}
#img-1{
    color: skyblue;
}
#img-2{
    color: orange;
}
#img-3{
    color: rgba(135, 0, 255, 1);
}
.arrow{
    text-align: center;
    margin: 100px auto;
    padding: 0 0 0 -10px ;
}







/* Our Stories Section */






.second-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.our-storie{
    text-align: center;
    padding: 50px;
}
.border{
    border-radius: 20px 20px 0 0;
}
.content{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    justify-items: center;
}
.card-stories-1{
    border-radius: 20px;
    grid-row:2;
    background-color: #fff;
    margin: 10px;
    
}
.card-stories-2{
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    margin: 10px;
    
}
.card-stories-3{
    border-radius: 20px;
    background-color: #fff;
    margin: 10px;
    
}
.card-stories-4{
    border-radius: 20px;
    background-color: #fff;
    margin: 10px;
    
}
.card-stories-5{
    border-radius: 20px;
    background-color: #fff;
    margin: 10px;

}





/* Footer */





.footer{
    background-color: #4d97eb;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0%;
    
}
.content-1, .content-2, .content-3{
    margin: 50px auto;
    text-align: center;
    color: white;
}
.content-1{
    text-align: left;
}
.content-2{
    text-align: left;
}
.content-2 a{
    color: white;
    gap: 10px;
}
.content-3{
    text-align: left;
    
}
.bg-our, .bg-stan{
    background-image: url('/assets/bg.png');
}
.bg-our{
    background-image: url('/assets/bg.png'), linear-gradient(#ffffff, rgb(255, 241, 215)) ;
}





/* Dekstop Rsponsive */




@media screen and (min-width:577px){
    .menu{
        display: none;
    }
}
/* Mobile Resposive */
@media screen and (max-width:576px) {
    .logo, .navbar, .btn, .first-section,  .arrow{
        display: none;
    }
    .menu {
        padding: 10px; 
    }

    .menu a:first-child img {
        height: 30px; 
    }

    .menu a:last-child img {
        height: 25px; 
    }
    .standard-container{
        flex-direction: column;

    }
    .satandard{
        text-align: center;
    }
   
    .bg-our{
        width: 357px;
        height: 725px;
    }
    .stan{
        text-align: left;
        font-weight: 900;
    }
    .second-section{
        
        margin: 50px auto;
        padding: 50px auto;
    }
   
    .Our{
        width: 370px;
        height: 560px;
       
    }
    .banner-img{
        flex-direction: row-reverse;
    }
    .footer{
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
        margin-top: 300px;
    }
    .banner-container{
        display: plex;
        flex-direction: column-reverse;
        margin:50px 0;
        padding: 10px auto;
        width: 357px;
        height: 725px;
        text-align: center;
    }

}