@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */

.display-flex{
    display: flex;
}
body{
    font-family: "Quicksand", serif;
}
/* Navbar style  */
.school{
    text-justify: center;
}
.nav-container{
    margin-top: 20px;
    justify-content: space-around;
}
.list{
    list-style: none;
}

.nav-links{
   
    align-items: center;
    gap: 20px;
}
.nav-link{
    text-align: center;
    gap: 10px;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 600;
}
#home{
    color: orange;
}
#about{
    color: skyblue;
}
#facilities{
    color: rgba(5, 212, 223, 1);
}
#Admission{
    color: rgba(93, 88, 239, 1);
}
.btn{
    background-color: orange;
    border-radius: 12px;
    width: 197px;
    border: 0;
    color: white;
    

}
/* Banner style  */
.banner-container{
    margin: 10px auto;
    width: 1920px;
}
.banner-content{
    justify-content: space-between;
    text-align: justify;
}
.banner-img{
    justify-content: end;
}
.btn-2{
    color: white;
    background-color: #000000;
    border-radius: 12px;
    width: 197px;
}
#em{
    color: orange;
}
#tow{
    color: skyblue;
}
/* Standard Curriculum */
.satandard, .Our{
    background-image: url('/assets/bg.png');
}
.stan{
    text-align: center;
    font-weight: 900;
}
/* Our Stories Section */

/* Footer */
.footer{
    background-color: #4d97eb;
}